.chat-box {
  border: solid 1px blue;
  width: 20rem;
  height: 25rem;
  /* overflow-y: scroll; */
}

.chat-box_name {
  padding: 0 3rem;
  text-align: center;
  border-bottom: 1px solid rgb(121, 121, 121);
}

.chat-box_messages {
  height: 18rem;
  overflow-y: scroll;
}

.chat-box_create-message {
  border-top: 1px solid rgb(121, 121, 121);
  padding: 0 3rem;
}
